.footer {
  padding: 30px;
  background: linear-gradient(62.47deg, #016dea 27.41%, #fa0101 95.02%);
}

.footerLine {
  width: 100%;
  border: 1px solid #fff;
  margin-bottom: 20px;
}

.footer p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  color: #fff;
}
.icon {
  color: red;
}
